{% extends 'top.html' %}
{% block title %}{{request.session.username  }}的购物车{% endblock %}
{% block content %}
    <form action="/index/order/" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">

            <div style="margin:0 auto; margin-top:10px;width:950px;">
                <strong style="font-size:16px;margin:5px 0;">购物车详情</strong>
                <table id="tableId" class="table table-bordered">
                    <tbody>
                    <tr class="warning">
                        <th>图片</th>
                        <th>商品</th>
                        <th>价格</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                        <th>选择</th>
                    </tr>

                    {% for row in obj %}

                        <tr class="active">

                            <td width="60" width="40%">
                                {#                        <input type="hidden" name="id" value="22">#}
                                <img src="/{{ row.img_path }}" width="70" height="60">
                            </td>
                            <td width="30%">
                                <a target="_blank"> {{ row.pname }}</a>
                            </td>
                            <td width="20%">
                                {{ row.price }}
                            </td>
                            <td width="10%">
                                {#                        <input type="text" name="quantity" value="1" maxlength="4" size="10">#}
                                {{ row.count }}
                            </td>
                            <td width="15%">
                                <span class="subtotal">{{ row.totalprice }}</span>
                            </td>
                            <td>
                                <a href="javascript:;" class="delete">删除</a>
                            </td>
                            <td>

                                <input type="checkbox" name="order" value="{{ row.cid }}" /><span style="display: none">{{ row.totalprice }}</span>

                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>

        <div style="margin-right:130px;">
            <div style="text-align:right;">
                商品金额: <strong id="aa" style="color:#ff6600;">0</strong>
            </div>
            <div style="text-align:right;margin-top:10px;margin-bottom:10px;">
                <a href="order_info.htm" id="clear" class="clear">清空购物车</a>

                    <input type="submit" width="100" value="提交订单" name="submit" border="0" style="background: url('/static/images/register.gif') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
						height:35px;width:100px;color:white;">

            </div>
        </div>

    </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $(":checkbox").click(function () {
                var sum = 0;
                $(":checked").each(function () {
                    if ($("this :checked")) {
                        sum += parseFloat($(this).next().text());
                    }
                });
                $('#aa').html(sum.toFixed(2));
                console.log(sum);
            });
        });
    </script>

{% endblock %}
