{% extends 'top.html' %}
{% block title %}{{ obj.pname }}商品详情{% endblock %}


{% block content %}
    <div class="shopdetails">
        <!-------放大镜-------->
        <div id="leftbox">
            <div id="showbox">
                <img src="/{{ obj.img_path }}" width="400" height="550"/>
                {#  <img src="/static/images/shopdetail/img02.png" width="400" height="550" />#}
                {#  <img src="/static/images/shopdetail/img03.png" width="400" height="550" />#}
                {#  <img src="/static/images/shopdetail/img04.png" width="400" height="550" />#}
                {#  <img src="/static/images/shopdetail/img05.png" width="400" height="400" />#}
                {#  <img src="/static/images/shopdetail/img01.png" width="400" height="400" />#}

            </div><!--展示图片盒子-->
            <div id="showsum"></div><!--展示图片里边-->
            <p class="showpage">
                <a href="javascript:void(0);" id="showlast"> < </a>
                <a href="javascript:void(0);" id="shownext"> > </a>
            </p>

        </div>
        <!----中间----->

        <div class="centerbox">
            <p class="imgname">{{ obj.pname }}</p>

            <p class="price">价格：<samp>￥{{ obj.price }}</samp></p>
            <p class="youhui">店铺优惠：<samp>购物满两件打八折</samp></p>
            <p class="youhui">库存：{{ obj.Stock }}</p>
            <ul>
                <li class="kuanshi">样式：</li>
                <li class="now shopimg"><a href="#" title="..."><img src="/{{ obj.img_path }}" height="45"
                                                                     width="45"></a></li>

            </ul>
            <div class="clear"></div>
            <p class="youhui">单位：1</p>
            <p class="buy"><a id="firstbuy">加入购物车</a><a href="#">立即购买</a></p>
            <div class="clear"></div>
            <div class="fenx"><a href="#"><img src="/static/images/shopdetail/tell07.png"></a></div>
            <p class="fuwu">服务承诺：</p>
            <p class="pay">支付方式：</p>
        </div>



        <!-----右边------->
        <div class="rightbox">
            <p class="name">——最热商品</p>
{#            {% for foo in host_product %}#}
{#                <a href="/index/shopdetail-{{ foo.pid }}"> <img src="/{{ foo.img_path }}" width="130" height="130"></a>#}
{#                <p>￥{{ foo.price }}</p>#}
{#                <p style="color: red">{{ foo.pname }}</p>#}
{#            {% endfor %}#}

            {#    	<img src="images/shopdetail/reimai02.jpg" width="130" height="180">#}
            {#		<p>￥58元</p>#}
            {#     #}
            {#    	<img src="images/shopdetail/reimai01.jpg" width="130" height="180">#}
            {#		<p>￥58元</p>#}
            {#        #}
            {#        #}
            {#    	<img src="images/shopdetail/reimai03.jpg" width="130" height="180">#}
            {#		<p>￥58元</p>#}
        </div>

    </div>
    <script type="text/javascript">


        $(document).ready(function () {
            var showproduct = {
                "boxid": "showbox",
                "sumid": "showsum",
                "boxw": 400,
                "boxh": 550,
                "sumw": 60,//列表每个宽度,该版本中请把宽高填写成一样
                "sumh": 60,//列表每个高度,该版本中请把宽高填写成一样
                "sumi": 7,//列表间隔
                "sums": 5,//列表显示个数
                "sumsel": "sel",
                "sumborder": 1,//列表边框，没有边框填写0，边框在css中修改
                "lastid": "showlast",
                "nextid": "shownext"
            };//参数定义
            $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行

            $(function () {

                $('.tabs a').click(function () {

                    var $this = $(this);
                    $('.panel').hide();
                    $('.tabs a.active').removeClass('active');
                    $this.addClass('active').blur();
                    var panel = $this.attr("href");
                    $(panel).show();
                    return fasle;  //告诉浏览器  不要纸箱这个链接
                })//end click


                $(".tabs li:first a").click()   //web 浏览器，单击第一个标签吧
www

            })//end ready




            $(".centerbox li").click(function () {
                $("li").removeClass("now");
                $(this).addClass("now")

            });


        });


    </script>







{% endblock %}

