{% extends 'top.html' %}
{% block title%}淘宝热门女装{% endblock %}
{% block content %}
<div class="row">
    <hr/>
        <div class="row" style="height:50px;margin:0 50px;background-color:#F8F8FF;">

                <div style="float: left ;color: #999999;margin:5px 50px;"><font size="5">淘宝热门女装：</font></div>
                <div style="float: left;text-align: left ;width: 70%;margin:10px 50px; ">
{#                    <a href="/index/spider"   style="color:#000000;font-size: 17px;">淘宝商品</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#}
                    <a href="/index/taobao_nvzhuang-4" style="color:#000000;font-size: 17px;">毛呢</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-5" style="color:#000000;font-size: 17px;">裤装</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-6" style="color:#000000;font-size: 17px;">棉服</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-7" style="color:#000000;font-size: 17px;">毛衣针织</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-8" style="color:#000000;font-size: 17px;">卫衣/外套</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-9" style="color:#000000;font-size: 17px;">裙装</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/index/taobao_nvzhuang-10" style="color:#000000;font-size: 17px;">羽绒</a>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
        </div>
    <hr/>
        <div class="row" style="text-align:left;height: 400px;width:100%">
            {% for foo in obj %}
                <div class="col-md-2" style="text-align:center;height:250px;padding:10px 0px;margin:20px auto;padding:0px;">
                    <a href="http:{{foo.url_link }}/" target="_blank">
                        <img src="/{{ foo.img_path }}" width="200px" height="200px" style="display: inline-block;">

                        <p style='color:#666'>{{ foo.sname }}</a></p>
                    <p><font color="#E4393C" style="font-size:16px">&yen;{{ foo.price }}</font></p>
                </div>
            {% endfor %}
        </div>

</div>
    <div class="row" style="text-align: center">
    <nav aria-label="Page navigation">
        <ul class="pagination" style="">
            {% for i in page_list %}
                {{ i|safe }}
            {% endfor %}
        </ul>
    </nav>
    </div>

{% endblock %}

